<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <h4 class="is-size-4 has-text-info">NgForms</h4>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="primaryNavigation">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="primaryNavigation" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <a class="navbar-item" routerLink="/dashboard">
        Home
      </a>
    </div>
  </div>
</nav>
